<div class="modal-header">
  <h4 class="modal-title text-primary-1">Đổi mật khẩu</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(false)">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="d-flex flex-column">
    <div class="mb-4">
      <div>Mật khẩu cũ <span class="text-danger">*</span></div>
      <input placeholder="Nhập mật khẩu cũ" type="password" class="form-control" formControlName="oldPassword">
      <div class="text-danger fw-light mt-1" *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.invalid">
        <div *ngIf="form.get('oldPassword')?.errors?.['required']">
          Vui lòng nhập mật khẩu cũ
        </div>
      </div>
    </div>
    <div>
      <div>Mật khẩu mới <span class="text-danger">*</span></div>
      <input placeholder="Nhập mật khẩu mới" type="password" class="form-control" formControlName="newPassword">
      <div class="text-danger fw-light mt-1" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid">
        <div *ngIf="form.get('newPassword')?.errors?.['required']">
          Vui lòng nhập mật khẩu mới
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal(false)">Hủy</button>
  <button type="button" class="btn btn-primary-1" (click)="submitForm()">Lưu thay đổi</button>
</div>