<div class="h-100">
  <div class="p-4 d-flex justify-content-between align-items-center border-bottom pb-3">
    <div class="d-flex gap-2 align-items-center">
      <div *ngIf="dataIssue.status !== 3" class="fw-light text-secondary d-flex align-items-center gap-2 rounded px-3 py-2" style="border: 1px solid rgba(179, 179, 179, 1); cursor: pointer;" (click)="changeStatus()">
        <img src="../../../../../assets/images/icon/tick-circle.png" alt="">
        <div>Đã hoàn thành</div>
      </div>
      <div *ngIf="!isEdit" class="d-flex gap-2 align-items-center btn btn-outline-secondary px-3 py-2" style="cursor: pointer;border: 1px solid rgba(179, 179, 179, 1)!important" (click)="editInfo()">
        <img src="../../../../../assets/images/icon/PencilSimpleLine.png" alt="">
        <div class="fw-light">
          Sửa thông tin
        </div>
      </div>
      <div *ngIf="isEdit" class="btn btn-primary-1 px-3 py-2" (click)="submit()">
        Sửa thông tin
      </div>
    </div>
    <div style="cursor: pointer;" (click)="confirmClose()">
      <img src="../../../../../assets/images/icon/close-log-out.png" alt="">
    </div>
  </div>
  <div class="mb-5 p-4 overflow-y-auto" style="height: 70%;">
    <div class="fw-bold fs-3 mb-4">
      {{dataIssue.title}}
    </div>
    <div class="row mb-4">
      <div class="col-4 text-secondary fw-bold">Nhân viên thực hiện</div>
      <div *ngIf="!isEdit" class="col-8">{{dataIssue.assign ? dataIssue.assign.fullName : ''}}</div>
      <div *ngIf="isEdit" class="col-8">
        <!-- <input [disabled]="infoUser.role !== 'admin'" *ngIf="dataIssue.assign" type="text" class="edit-input" [(ngModel)]="dataIssue.assign.fullName"> -->
        <ngx-select [disabled]="infoUser.role !== 'admin'" *ngIf="dataIssue.assign" [items]="listNhanVien" optionValueField="id" optionTextField="fullName" [allowClear]="true" [(ngModel)]="dataIssue.assign.id" (typed)="searchUser('ngx-select', $event)" [searchCallback]="onSearchNhanVien"></ngx-select>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4 text-secondary fw-bold">Ngày đến hạn</div>
      <div *ngIf="!isEdit" class="col-8">{{dataIssue.dueDate}}</div>
      <div *ngIf="isEdit" class="col-8">
        <div class="input-group">
          <input [disabled]="infoUser.role !== 'admin'" class="form-control" placeholder="Chọn ngày" ngbDatepicker
            #dueDatePicker="ngbDatepicker" [(ngModel)]="dataIssue.dueDate" [readonly]="true"
            (click)="dueDatePicker.toggle()" />
          <button class="btn btn-outline-secondary" type="button" (click)="dueDatePicker.toggle()">
            <i class="fa-solid fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4 text-secondary fw-bold">Trạng thái</div>
      <div class="col-8">
        <table class="border rounded table text-center">
          <tr class="border-bottom">
            <td class="border-end py-2" style="width: 100px;">Trạng thái</td>
            <td class="py-2 d-flex justify-content-center align-items-center">
              <div *ngIf="!isEdit" class="rounded-4 px-5" [class]="svShare.getColorStatusNameIssue(+dataIssue.status)">
                {{svShare.getStatusNameIssue(+dataIssue.status)}}
              </div>
              <select *ngIf="isEdit" [(ngModel)]="dataIssue.status" class="form-select">
                <option value="">Chọn trạng thái</option>
                <option value="0">Đã tạo</option>
                <option value="1">Đã giao</option>
                <option value="2">Đang xử lý</option>
                <option value="3">Đã hoàn thành</option>
                <option value="4">Đã đóng</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="border-end py-2">Độ ưu tiên</td>
            <td class="py-2 d-flex justify-content-center align-items-center">
              <div *ngIf="!isEdit" class="rounded-4 px-5" [class]="svShare.getColorPriorityIssue(dataIssue.priority)">
                {{svShare.getPriorityIssue(dataIssue.priority)}}
              </div>
              <select [disabled]="infoUser.role !== 'admin'" *ngIf="isEdit" [(ngModel)]="dataIssue.priority" class="form-select">
                <option value="">Độ ưu tiên</option>
                <option value="1">Thấp</option>
                <option value="2">Trung bình</option>
                <option value="3">Cao</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4 text-secondary fw-bold">Mô tả</div>
      <div *ngIf="!isEdit" class="col-8" style="white-space: pre-line" [innerHtml]="dataIssue.description"></div>
      <div *ngIf="isEdit" class="col-8">
        <textarea [disabled]="infoUser.role !== 'admin'" rows="5" type="text" class="edit-input" [(ngModel)]="dataIssue.description"></textarea>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-4 text-secondary fw-bold">URL</div>
      <div *ngIf="!isEdit" class="col-8 truncate">{{dataIssue.url}}</div>
      <div *ngIf="isEdit" class="col-8">
        <input [disabled]="infoUser.role !== 'admin'" type="text" class="edit-input" [(ngModel)]="dataIssue.url">
      </div>
    </div>
  </div>
  <div class="position-relative" style="background: rgba(242, 242, 242, 1);height: calc(100vh - 70% - 83px);">
    <div class="h-100 position-relative">
      <div class="px-4 border-bottom border-1 d-flex">
        <div class="border-bottom border-2 d-flex border-primary pt-4 py-2">
          Bình luận
        </div>
      </div>
      <div class="p-4 d-flex flex-column gap-3 overflow-y-auto" style="height: calc(100% - 160px);" #scrollContainer>
        <div *ngFor="let item of listComment" class="row">
          <div class="col-11">
            <div class="d-flex gap-2 align-items-center">
              <div class="rounded-circle" style="height: 45px; width: 45px;">
                <img src="../../../../../assets/images/avatars/user.png" alt="" class="rounded-circle w-100 h-100" style="object-fit: cover;">
              </div>
              <div>
                <div class="text-secondary fw-light d-flex align-items-center gap-2" style="font-size: 12px;">
                  <div>{{item.assign ? item.assign.fullName : ''}}</div>
                  <div>•</div>
                  <div>
                    {{item.time + ' ' + item.createdDate}}
                  </div>
                </div>
                <div style="font-size: 12px;">
                  {{item.text}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 d-flex align-items-center">
            <img src="../../../../../assets/images/icon/Trash.png" alt="" style="cursor: pointer;" (click)="deleteComment(item.id)">
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center w-100 bg-white" style="padding-right: 16px;">
        <div class="w-100">
          <input type="text" [(ngModel)]="commentText" (keyup.enter)="sendComment()" class="chat-type" placeholder="Thêm bình luận">
        </div>
        <div class="d-flex gap-2 align-items-center">
          <img src="../../../assets/images/icon/link-3.png" alt="">
          <img src="../../../assets/images/icon/image.png" alt="">
          <img src="../../../assets/images/icon/send-primary.png" alt="" (click)="sendComment()">
        </div>
      </div>
    </div>
  </div>
</div>