<div class="bg-white p-4 d-flex flex-column container-body">
  <div class="d-flex justify-content-between align-items-baseline">
    <div class="d-flex gap-2 mb-4 align-items-center">
      <button class="btn btn-primary-1" (click)="addEditComany()">
        <i class="fa-solid fa-plus"></i>
        Thêm công việc
      </button>
      <div>
        <input
        type="text"
        id="rangeCalendarAutoLeft"
        class="form-control"
        style="box-shadow: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
        readonly
        ngxDaterangepickerBootstrap
        [(ngModel)]="selected"
        drops="down"
        opens="left"
        [locale]="locale"
        [ranges]="ranges"
        [showCustomRangeLabel]="true"
        [showCancel]="true"
        [linkedCalendars]="true"
        [alwaysShowCalendars]="false"
        [showRangeLabelOnInput]="false"
        [keepCalendarOpeningWithRange]="false"
        [closeOnAutoApply]="true"
        [autoApply]="true"
        [isTooltipDate]="isTooltipDate"
        [isCustomDate]="isCustomDate"
        [isInvalidDate]="isInvalidDate"
        (datesUpdated)="datesUpdatedRange($event)"
        aria-describedby="rangeCalendarAutoLeftDesc"
      />
      </div>
      <button class="btn btn-outline-secondary" (click)="getListDataByFilter()">
        <i class="fa-solid fa-refresh"></i>
        Làm mới
      </button>
      <button class="btn btn-outline-secondary" (click)="resetData()">
        <i class="fa-solid fa-refresh"></i>
        Xóa lọc
      </button>
    </div>
    <div class="d-flex">
      <div class="p-2" style="border-right: 1px solid #AAACAD; cursor: pointer;" (click)="changeTypeView('list')" [class]="typeView === 'list' ? 'type-view-active' : 'btn-secondary-1'">
        <img src="../../../../assets/images/icon/bar.png" alt="">
      </div>
      <div class="p-2" style="cursor: pointer" (click)="changeTypeView('grid')" [class]="typeView === 'grid' ? 'type-view-active' : 'btn-secondary-1'">
        <img src="../../../../assets/images/icon/grid.png" alt="">
      </div>
    </div>
  </div>
  <div *ngIf="listDataClone.length && typeView === 'list'"
    class="card card-body d-flex flex-column flex-grow-1 gap-4 mb-4 overflow-y-auto container-scroll horizontal-scroll-first-column">
    <div *ngFor="let item of listDatas" class="d-flex flex-column gap-2">
      <div class="text-uppercase fw-bold d-flex align-items-center gap-2" style="color: #8C8C8C; font-size: 12px;">
        {{item.statusName}} <span class="count-number">{{item.datas.length}}</span>
      </div>
      <div class="card card-body card-job d-flex flex-column gap-2">
        <div *ngFor="let data of item.datas" class="card card-body d-flex gap-2 card-job-item" (dblclick)="detailModal(data)">
          <div class="d-flex gap-2">
            
            <div class="fw-bold">
              {{data.title}} - <div class="badge bg-primary">{{data.assign ? data.assign.fullName : ''}} </div> &nbsp; <span class="px-4 py-1 rounded-4" [class]="svShare.getColorPriorityIssue(+data.priority)">{{svShare.getPriorityIssue(+data.priority)}}</span>
            </div>
          </div>
          <div>
            {{data.description}}
          </div>
          <div class="d-flex align-items-center gap-3">
            <div *ngIf="!data.dueDate" class="d-flex gap-2 align-items-center">
              <img src="../../../../assets/images/icon/clock.png" alt="">
              <div style="color: #AAACAD;" [class]="svShare.getExpiredTime(data.dueDate).color">
                {{svShare.getExpiredTime(data.dueDate).text}}
              </div>
            </div>
            <div class="d-flex gap-1 align-items-center px-2" style="background-color: #F3F3F3; border-radius: 18px;">
              <img src="../../../../assets/images/icon/message-text.png" alt="">
              <div style="color: #AAACAD;">
                {{data.commentCount ? data.commentCount : 0}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="listDataClone.length && typeView === 'grid'"
    class="card card-body d-flex flex-column flex-grow-1 gap-2 mb-4 overflow-auto container-scroll" style="background-color: rgba(236, 239, 241, 1);">
    <div class="d-flex gap-2 align-items-center flex-nowrap">
      <div class="card-grid-item flex-shrink-0">
      </div>
      <div *ngFor="let date of getDayList()" class="card-grid-item flex-column text-secondary flex-shrink-0">
        <div class="fw-bold" style="font-size: 24px;">{{date.date}}</div>
        <div class="fw-bold" style="font-size: 16px;">{{date.month}}</div>
      </div>
    </div>
    <div *ngFor="let item of listDatas" class="d-flex gap-2 align-items-center flex-nowrap">
      <div class="card-grid-item flex-shrink-0">
        {{item.fullName}}
      </div>
      <div *ngFor="let data of item.datas" class="card-grid-item flex-shrink-0 py-1" style="justify-content: left!important">
        <div style="font-size: 12px;" class="overflow-auto h-100 w-100 p-2">
          <div>
            <div>
              <div *ngFor="let job of data" class="title-grid-card w-100 truncate d-flex align-items-center" (click)="detailModal(job)">
                <div class="d-flex align-items-center w-100">
                  <div [class]="'title-' + job.status + '-start'"></div>
                  <div [class]="'title-' + job.status">{{job.title}}</div>
                </div>
                <div style="height: 19px; width: 19px;">
                  <img *ngIf="job.priority === 3" src="../../../../assets/images/icon/priority-high.png" class="w-100" alt="">
                  <img *ngIf="job.priority === 2" src="../../../../assets/images/icon/priority-mid.png" class="w-100" alt="">
                  <img *ngIf="job.priority === 1" src="../../../../assets/images/icon/priority-low.png" class="w-100" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!listDataClone.length" class="card card-body d-flex flex-column flex-grow-1 gap-2 mb-4 overflow-auto container-scroll" style="background-color: rgba(236, 239, 241, 1);">
    Không có dữ liệu
  </div>
  <div *ngIf="listDataClone.length" class="d-flex justify-content-end">
    <ngb-pagination class="d-flex justify-content-start" [collectionSize]="totalItems" [page]="page"
      (pageChange)="changePage($event)"></ngb-pagination>
  </div>
</div>