.container-scroll {
  max-height: calc(100vh - 267px);
}
.count-number {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #8C8C8C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-job {
  background-color: #F2F2F2;
  border: 1px solid rgba(229, 229, 229, 1)
}
.card-job-item {
  transition: all 0.3s;
  user-select: none;
}
.card-job-item:hover {
  background-color: #F2F2F2;
  cursor: pointer;
  transition: all 0.3s;
}

.type-view-active {
  background-color: #8C8C8C;
}

.card-grid-item {
  width: 263px;
  height: 77px;
  background-color: white;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-grid-card:hover {
  cursor: pointer;
  text-decoration: underline;
}
.title-0-start {
  height: 19px;
  width: 8px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgba(219, 216, 216, 1);
}
.title-0 {
  height: 19px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 0 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.title-1-start {
  height: 19px;
  width: 8px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgba(148, 148, 148, 1);
}
.title-1 {
  height: 19px;
  background-color: rgba(203, 203, 203, 1);
  width: 100%;
  padding: 0 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.title-2-start {
  height: 19px;
  width: 8px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgba(0, 192, 232, 1);
}
.title-2 {
  height: 19px;
  background-color: rgba(162, 236, 252, 1);
  width: 100%;
  padding: 0 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.title-3-start {
  height: 19px;
  width: 8px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgba(76, 176, 80, 1);
}
.title-3 {
  height: 19px;
  background-color: rgba(164, 243, 168, 1);
  width: 100%;
  padding: 0 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.title-4-start {
  height: 19px;
  width: 8px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgba(223, 71, 86, 1);
}
.title-4 {
  height: 19px;
  background-color: rgba(255, 164, 173, 1);
  width: 100%;
  padding: 0 4px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}