<div class="modal-header">
  <h4 class="modal-title text-primary-1">{{data ? 'Báo cáo công việc' : 'Báo cáo công việc'}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(false)">
  </button>
</div>
<div class="modal-body">
  <div class="text-primary-1 fw-bold mb-2">
    Thông tin công việc
  </div>
  <form [formGroup]="form" class="d-flex flex-column gap-4">
    <div class="col">
      <div>Tiêu đề công việc <span class="text-danger">*</span></div>
      <input placeholder="Nhập tiêu đề công viêc" type="text" class="form-control" formControlName="title">
      <div class="text-danger fw-light mt-1" *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
        <div *ngIf="form.get('title')?.errors?.['required']">
          Vui lòng nhập tiêu đề công việc
        </div>
      </div>
    </div>
    <div class="col">
      <div>Nội dung công việc <span class="text-danger">*</span></div>
      <textarea rows="5" class="w-100" placeholder="Nhập nội dung công việc" type="text" class="form-control"
        formControlName="content">
      </textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal(false)">Hủy</button>
  <button type="button" class="btn btn-primary-1">Lưu báo cáo</button>
</div>