<div class="modal-header">
  <h4 class="modal-title text-primary-1">{{data ? 'Sửa thông tin khách hàng' : 'Thêm mới khách hàng'}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(false)">
  </button>
</div>
<div class="modal-body">
  <div class="text-primary-1 fw-bold">
    Thông tin khách hàng
  </div>
  <form [formGroup]="form" class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col">
        <div>Họ và tên <span class="text-danger">*</span></div>
        <input placeholder="Nhập họ và tên" type="text" class="form-control" formControlName="name" required>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
          <div *ngIf="form.get('name')?.errors?.['required']">
            Vui lòng nhập họ và tên
          </div>
        </div>
      </div>
      <div class="col">
        <div>Số điện thoại <span class="text-danger">*</span></div>
        <input placeholder="Nhập số điện thoại" type="text" class="form-control" formControlName="phone" required>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
          <div *ngIf="form.get('phone')?.errors?.['required']">
            Vui lòng nhập số điện thoại
          </div>
          <div *ngIf="form.get('phone')?.errors?.['pattern']">
            Số điện thoại chỉ nhập số
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>Địa chỉ <span class="text-danger">*</span></div>
        <input placeholder="Địa chỉ" type="text" class="form-control" formControlName="address" required>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('address')?.touched && form.get('address')?.invalid">
          <div *ngIf="form.get('address')?.errors?.['required']">
            Vui lòng nhập địa chỉ
          </div>
        </div>
      </div>
      <div class="col">
        <div>Công ty</div>
        <select formControlName="companyId" class="form-select">
          <option value="">Chọn công ty</option>
          <option *ngFor="let item of companyList" [value]="item.id">{{item.name}}</option>
        </select>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('companyId')?.touched && form.get('companyId')?.invalid">
          <div *ngIf="form.get('companyId')?.errors?.['required']">
            Vui lòng chọn công ty
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>Zalo ID <span class="text-danger">*</span></div>
        <input placeholder="Nhập Zalo ID" type="text" class="form-control" formControlName="userId" required>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('userId')?.touched && form.get('userId')?.invalid">
          <div *ngIf="form.get('userId')?.errors?.['required']">
            Vui lòng nhập Zalo ID
          </div>
        </div>
      </div>
      <div class="col">
        <div>Trạng thái</div>
        <select formControlName="status" class="form-select">
          <option value="">Chọn trạng thái</option>
          <option value="1">Hoạt động</option>
          <option value="0">Ngừng hoạt động</option>
        </select>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('status')?.touched && form.get('status')?.invalid">
          <div *ngIf="form.get('status')?.errors?.['required']">
            Vui lòng chọn trạng thái
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>Ghi chú</div>
        <input placeholder="Ghi chú" type="text" class="form-control" formControlName="notes" required>
      </div>
    </div>
  </form>
</div>
<div *ngIf="mode !== 'view'" class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal(false)">Hủy</button>
  <button type="button" class="btn btn-primary-1" (click)="submitForm()">{{data ? 'Lưu thay đổi' : 'Thêm khách  hàng'}}</button>
</div>