<div class="modal-header">
  <h4 class="modal-title text-primary-1">{{data ? 'Sửa thông tin phòng ban' : 'Thêm mới phòng ban'}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(false)">
  </button>
</div>
<div class="modal-body">
  <div class="text-primary-1 fw-bold">
    Thông tin phòng ban
  </div>
  <form [formGroup]="form" class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col">
        <div>Tên phòng ban <span class="text-danger">*</span></div>
        <input placeholder="Nhập tên phòng ban" type="text" class="form-control" formControlName="name" required>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
          <div *ngIf="form.get('name')?.errors?.['required']">
            Vui lòng nhập tên phòng ban
          </div>
        </div>
      </div>
      <div class="col">
        <div>Tên cơ sở <span class="text-danger">*</span></div>
        <input placeholder="Nhập mã số thuế" type="text" class="form-control" formControlName="factoryName" required>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('factoryName')?.touched && form.get('factoryName')?.invalid">
          <div *ngIf="form.get('factoryName')?.errors?.['required']">
            Vui lòng nhập tên cơ sở
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>Trạng thái <span class="text-danger">*</span></div>
        <select formControlName="status" class="form-select">
          <option value="">Chọn trạng thái</option>
          <option value="1">Hoạt động</option>
          <option value="0">Ngừng hoạt động</option>
        </select>
        <div class="text-danger fw-light mt-1" *ngIf="form.get('status')?.touched && form.get('status')?.invalid">
          <div *ngIf="form.get('status')?.errors?.['required']">
            Vui lòng chọn trạng thái
          </div>
        </div>
      </div>
      <div class="col">
        <div>Ghi chú</div>
        <input placeholder="Nhập ghi chú" type="text" class="form-control" formControlName="note">
      </div>
    </div>
  </form>
</div>
<div *ngIf="mode !== 'view'" class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal(false)">Hủy</button>
  <button type="button" class="btn btn-primary-1" (click)="submitForm()">{{data ? 'Lưu thay đổi' : 'Thêm phòng ban'}}</button>
</div>