<div class="modal-header">
  <h4 class="modal-title text-primary-1">Theo dõi chấm công</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(false)">
  </button>
</div>
<div class="modal-body">
  <div class="text-primary-1 fw-bold mb-2">
    Thông tin chấm công
  </div>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col">
        <div>
          Ngày chấm công
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
      <div class="col">
        <div>
          Username
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          Ngày chấm công
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
      <div class="col">
        <div>
          Username
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          Giờ vào
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
      <div class="col">
        <div>
          Giờ ra
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          Số phút vào muộn
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
      <div class="col">
        <div>
          Số phút về sớm
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          Địa điểm chấm công
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
      <div class="col">
        <div>
          IP
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          Trạng thái
        </div>
        <div>
          <input type="text" disabled class="form-control">
        </div>
      </div>
    </div>
  </div>
</div>