.backdrop {
  width: 100%;
  border: 1px dashed #ccc;
  padding: 4px 4px;
  border-radius: 4px;
}
::ng-deep .modal-auto-size .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important; /* co giãn theo nội dung */
  max-width: 90vw; /* không vượt quá chiều rộng màn hình */
  height: auto;
  max-height: 90vh;
}

::ng-deep .modal-auto-size .modal-content {
  width: auto !important;
  height: auto !important;
  display: inline-block;
}